APP_NAME=system
APP_ENV=local
APP_KEY=base64:1CS6TpH76NFSDH69p5IkASaRziQZ9j22IV/z7qrh2MQ=
APP_DEBUG=true
APP_URL=http://wp-files.com
NEXT_USER_APP_URL=http://localhost:3002

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=system2
DB_USERNAME=root
DB_PASSWORD=root

LOGS_DB_HOST=mysql
LOGS_DB_DATABASE=system_logs
LOGS_DB_USERNAME=root
LOGS_DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=mms@eventbuizz.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700

STRIPE_KEY=pk_test_zcD0dwES3dFewUG62JPwlK6s
STRIPE_SECRET=sk_test_KjKALrtREG9wpNJIPZkgpHGY
CASHIER_LOGGER=stack

BUNNYCDN_API_KEY=fbab6b5c-c914-47dc-a654-457709b389593dd40a14-2798-405b-9b83-297306eff393
BUNNYCDN_FTP_HOST=storage.bunnycdn.com
BUNNYCDN_FTP_USERNAME=system
BUNNYCDN_FTP_PASSWORD=b7be0ebc-4fa8-46d9-90a4ee381a57-e4b3-4463
BUNNYCDN_APP_URL=https://cdn.system.io
